body{
  background-color: black;
}

.banner{
  background-image: url(/img/encabezado.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
  
}

.contenido_banner{
  margin-top: 300px;
}


.personajes{
  margin-top: 75px;
}

.personajes_imagenes{
  text-align: center 
}


/* TEMPORADAS */


.temporadas{
  margin-top:75px;
}

.temporadas img :hover{
  
  
}


h3{
  color: white;
}


.explora_mas{
  margin-top: 75px;
}

.generos_elencos{
  gap: 500px;
}

.creadores_año_de_estreno{
gap: 693px;
}

.edad_numero_de_temporadas{
gap: 756px;
}

.idiomas_audio_subtitulos{
gap: 604px;
}

